<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
	<title>Formulario de Cliente</title>
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body id="formulario">
	<header id="cabecera">
		<h1>Formulario de Registro</h1>
	</header>
	
	<form id="form" action="#" method="post">
	
		<label for="dni">Número de Documento: </label>
		<input type="number" id="dni" name="dni" required><br><br>
		
		<label for="nombres">Nombre/s: </label>
		<input type="text" id="nombres" name="nombres" required><br><br>
		
		<label for="apellidos">Apellido/s: </label>
		<input type="text" id="apellidos" name="apellidos" required><br><br>
		
		<label for="fechaNacimiento">Fecha de Nacimiento: </label>
		<input type="date" id="fechaNacimiento" name="fechaNacimiento" required><br><br>
		
		<p>Género</p>
		<label for="generoMasculino">Masculino</label>
		<input type="radio" id="generoMasculino" name="genero" value="MASCULINO">
		<label for="generoFemenino">Femenino</label>
		<input type="radio" id="generoFemenino" name="genero" value="FEMENINO">
		<label for="generoDesconocido">Desconocido</label>
		<input type="radio" id="generoDesconocido" name="genero" value="DESCONOCIDO"><br><br>
		
		<label for="correo">Correo Electrónico: </label>
		<input type="email" id="correo" name="correo" required><br><br>
		
		<label for="domicilio">Domicilio: </label>
		<input type="text" id="domicilio" name="domicilio" required><br><br>
		
		<label for="provincia">Provincia</label>
		<select id="provincia" name="provincia" required>
			<option value="" disabled selected>Seleccione una opción</option>
			<option value="JUJUY">Jujuy</option>
			<option value="SALTA">Salta</option>
			<option value="TUCUMAN">Tucumán</option>
			<option value="CATAMARCA">Catamarca</option>
			<option value="LARIOJA">La Rioja</option>
		</select>
		<br><br>
		
		<label for="telefono">Celular: </label>
		<input type="number" id="telefono" name="telefono"><br><br>
		
		<p>Categorías de Interés</p>
		<label for="tecnologia">Tecnología</label>
		<input type="checkbox" id="tecnologia" name="categoria" value="TECNOLOGIA">
		<label for="electrodomesticos">Electrodomésticos</label>
		<input type="checkbox" id="electrodomesticos" name="categoria" value="ELECTRODOMESTICO">
		<label for="deporte">Deporte</label>
		<input type="checkbox" id="deporte" name="categoria" value="DEPORTE">
		<label for="cocina">Cocina</label>
		<input type="checkbox" id="cocina" name="categoria" value="COCINA"><br><br>
		
		<label for="sugerencias">Sugerencias para la Empresa:</label><br>
		<textarea id="sugerencias" name="sugerencias" rows="4" cols="50" placeholder="Escribe tus sugerencias aquí..."></textarea><br><br>
		
		<label for="contraseña">Contraseña: </label>
		<input type="password" id="contraseña" name="contraseña" required><br><br>
		
		<label for="terminos">Acepto los términos y condiciones</label>
		<input type="checkbox" id="terminos" name="terminos" required><br><br>
		
		<label for="informacion">Acepto recibir información relativa a la Empresa</label>
		<input type="checkbox" id="informacion" name="informacion"><br><br>
		
		<button type="submit">Enviar</button>
		<br><br>
	</form>
	
	<footer id="pie_de_pagina" class="footer">
		<p>Contact</p>
		<ul>
			<li>Correo: dmanu401@gmail.com</li>
			<li><a href="https://www.facebook.com/profile.php?id=100023686131131">Facebook</a></li>
		</ul>
	</footer>
</body>
</html>