<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programación Visual</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>

<body>

    <header>
        <nav class="navegacion">
        	<h2 id="indice"><u>Índice</u></h2>
           	<ol>
           		<li><a href="#section1" class="secciones">¿En qué consiste la Programación Visual?</a></li>
           		<li><a href="#section2" class="secciones">¿En qué se diferencia de la Programación "normal"?</a></li>
           		<li><a href="#section3" class="secciones">¿Cuáles son las ventajas e inconvenientes de la Programación Visual?</a></li>
           	</ol>
           	<br>
        </nav>
    </header>
    <br>
	<main class="principal">
		<section class="seccion">
			<h2 id="section1" class="titulo"><u>¿En qué consiste la Programación Visual?</u></h2>
			<p class="text">En la programación visual, los elementos del lenguaje de programación están disponibles en forma de bloques diseñados de manera gráfica, 
			por lo que también se la llama programación gráfica. 
			La apariencia y el etiquetado de los módulos permite identificar qué tarea en el flujo del programa pueden resolver.
			</p>
			<p class="text">Este <b>estilo de programación</b> fundamental, también llamado paradigma de programación, 
			presenta, entre otras, las siguientes características:</p>
			<ul>
				<li>Visual: los elementos se arrastran y sueltan en el flujo del programa para integrarlos.</li>
				<li>Orientado a acontecimientos: cada paso del programa comienza cuando 
				ocurre un acontecimiento previamente definido.</li>
				<li>Imperativo: la programación consiste en una secuencia de comandos.</li>
				<li>Orientado a objetos: hay objetos individuales con tareas definidas asignadas.</li>
			</ul>
			<img src="../static/img/main.jpg" alt="imagen principal" width="700" height="500" class="image">
		</section>
	
		<section class="seccion">
			<h2 id="section2" class="titulo"><u>¿En qué se diferencia de la Programación "normal"?</u></h2>
			<p class="text">La principal diferencia es que los programadores visuales no tienen que lidiar con las complejidades de la sintaxis de comandos.
			<b>Tampoco se necesita aprender el engorroso</b> “vocabulario” de un lenguaje de programación. 
			En la programación “normal”, se requiere un alto grado de abstracción para obtener el resultado deseado a partir de las reglas del lenguaje de programación. 
			Aunque muchos editores de programación tienen la función “Autocompletar”, para que los comandos se completen y los procedimientos se cierren por sí mismos, 
			los programadores son susceptibles de cometer errores: si se olvida un carácter, toda la tarea da error. 
			Esto a menudo requiere una larga búsqueda de errores.</p>
			<img src="../static/img/error.png" alt="errores susceptibles" width="700" height="500" class="image">
		</section>
		
		<section class="seccion">
			<h2 id="section3" class="titulo"><u>¿Cuáles son las ventajas e inconvenientes de la Programación Visual?</u></h2>
			<p class="text">La Programación Visual presenta los siguientes pro y contras:</p>
			<table class="tabla">
				<tr>
            		<th>Ventajas</th>
            		<th>Desventajas</th>
        		</tr>
        		
        		<tr>
        			<td>Menos Costoso</td>
        			<td>Escalabilidad limitada de la plataforma</td>
        		</tr>
        		
        		<tr>
					<td>Base de Conocimientos Accesible</td> 
					<td>Potencial Limitado</td>       		
        		</tr>
        		
        		<tr>
        			<td>Desarrollo de software más rápido</td>
        			<td>Tedioso y voluminoso</td>
        		</tr>
			</table>
		</section>	
	</main>
	<br>
	<aside class="adicional">
		<p class="text">
		Para que personas sin experiencia puedan aprender a programar de forma sencilla, se han inventado los <b>lenguajes visuales</b>,
		como Stratch. En los lenguajes visuales se programa uniendo bloques, que son dibujos que tienen código asociado.</p>
		<img src="../static/img/scratch.png" alt="lenguaje stratch" width="150" height="150">
		<p><a href="https://es.wikipedia.org/wiki/Scratch_(lenguaje_de_programaci%C3%B3n)" class="enlace">Saber más</a></p>
	</aside>
	<br>
	<footer id="pie_de_pagina" class="footer">
		<p>Contact</p>
		<ul>
			<li>Correo: dmanu401@gmail.com</li>
			<li><a href="https://www.facebook.com/profile.php?id=100023686131131">Facebook</a></li>
		</ul>
	</footer>
	
	<p class="regreso"><a href="#indice" class="enlace">Ir a índice</a></p>
	
</body>

</html>