@charset "UTF-8";

#body{
	background-image:url(../img/astronauta.jpg);
	background-repeat:no-repeat;
}

#cabecera{
	background-color:#ffffff;
	opacity:0.5;
	text-align:center;
	color:#000000;
	font-size:1.3em;
}

form{
	padding:auto;
	top:50px;
	color:#ffffff;
	width: 50%;
    margin: 0 auto;
    padding-left: 2em;
	padding-right: 2em;
	padding-top:1em;
	border-radius: 25px;
	background-color: #000000;
  	border: 1px solid black;
  	opacity:0.8;
}

button{
	
}

#pie_de_pagina{
	color:#ffffff;
	position: static;
  	right: 10px;
  	width: 250px;
  	padding: 10px;
  	background-color: #000000;
  	border: 1px solid black;
  	border-radius: 25px;
  	opacity:0.8;
}

body{
	color:#ffffff;
	background-image:url(../img/fondo2.png);
}

.navegacion{
	background-color:#2d8659;
	opacity:0.7;
	border-radius:25px;
	padding-left: 2em;
	padding-right: 2em;
	padding-top:2px;
	color:#000000;
}

img{
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

section{
	background-color:#2d8659;
	border-radius:25px;
	padding-left: 2em;
	padding-right: 2em;
	padding-top:2px;
	padding-bottom:1em;
	opacity:0.7;
}

.tabla, th, td{
	 border: 1px solid #000;
	 border-collapse: collapse;
}

td{
	text-align:center;
}

tr:hover {
	background-color: coral;
}

th{
	background-color: #04AA6D;
 	color: white;
}

h2{
	text-align:center;
	text-transform:uppercase;
	color:#000000;
}

.aside{
	width:200px;
	height:400px;
	background-color:#2d8659;
	border-radius:25px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top:2px;
	
}

.aside p {
	color:black;
}

.image{
	border-radius:25px;
	border:1px solid #000;
}

.enlace:link, .enlace:visited{
	background-color: #f44336;
  	color: white;
 	padding: 5px 5px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius:3px;
}

.enlace:hover, .enlace:active {
  background-color:#ff8080;
  color: white;
}

#footer{
	
}

